.navHeader {
  position: fixed;
  display: flex;
  height: 106px;
  width: 100%;
  // width: 232px;
  justify-content: center;
  align-items: center;
  transition: 1s;
  z-index: 3;
  right: 0;
  //   background-color: #fff;
  border-radius: 10px;
  & .basicNav {
    width: 90%;
  }
  & .logo {
    min-width: 58px;
    height: 58px;
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
    line-height: 58px;
    text-align: center;
    font-size: 20px;
    transition: 0.5s;
  }
  & .darkLogo {
    background: #fff;
    color: #000;
    transition: 0.5s;
  }
  & .nav {
    width: 800px;
    height: 58px;
    line-height: 58px;
    display: flex;
    justify-content: space-around;

    // z-index: 2;
    // background-color: #fff;
    // transition: 0.7s;
    & .navLink {
      // width: 63px;
      & .navSkill {
        transition: 0.5s;
        text-align: center;
        letter-spacing: 0.1em;
      }
      & .navSkill:hover {
        // cursor: url('./IMG/Group\ 2.svg'), pointer;
        font-size: 20px;
        transition: 0.5s;
      }

      & .backgroundButton {
        width: 80px;
        height: 42px;
        border-radius: 100px;
        // background-color: #19222e;
        overflow: hidden;
        padding: 5px 5px;
        & .sun {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #fff;
          transform: translateY(0px);
          transition: 0.5s;
        }
        & .sunActive {
          transform: translateY(-40px);
          transition: 0.5s;
        }
        & .moon {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #000;
          transform: translateY(-40px);
          transition: 0.5s;
        }
        & .moonActive {
          transform: translateY(0px);
          transition: 0.5s;
        }
      }
    }
  }
}
.navHeaderShrink {
  position: fixed;
  display: flex;
  //   height: 106px;
  width: 100px;
  justify-content: center;
  align-items: center;
  z-index: 3;
  transition: 1s;
  top: 50px;
  right: 60px;
  border-radius: 10px;
  @media (max-width: 800px) {
    top: 10px;
  }
  & .logo {
    min-width: 58px;
    height: 58px;
    background: #000000;
    color: #ffffff;
    border-radius: 10px;
    line-height: 58px;
    text-align: center;
    font-size: 20px;
  }
  & .darkLogo {
    background: #fff;
    color: #000;
    transition: 0.5s;
    border: 1px solid#19222e;
  }
  & .nav {
    width: 800px;
    // height: 58px;
    width: 100px;

    line-height: 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #f6c327;
    align-items: center;
    border-radius: 10px;
    // padding: 1px 3px;

    // transition: 0.7s;
    & .hamburger {
      min-width: 58px;
      // max-width: 58px;
      min-height: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      transition: all 0.5s;

      // align-items: center;
      // cursor: pointer;
      & .lineNotActive {
        border-radius: 5px;
        transition: all 0.5s;
        width: 100%;
      }
      & .lineActive1 {
        // transform: rotate(45deg)
        opacity: 0;
        transition: all 0.5s;
        width: 58px;
      }
      & .lineActive2 {
        position: absolute;
        bottom: 20px;
        left: -17px;
        transform: rotate(45deg);
        border-radius: 5px;
        transition: all 0.5s;
        width: 58px;
      }

      & .lineActive3 {
        position: absolute;
        bottom: 20px;
        right: -18px;
        transform: rotate(-45deg);
        border-radius: 5px;
        transition: all 0.5s;
        width: 58px;
      }
    }

    & .navLink {
      width: 63px;
      max-height: 0px;
      height: 100%;
      opacity: 0;
      transition: 1s;
      overflow: hidden;
      & .navSkill {
        transition: 0.5s;
      }
      & .navSkill:hover {
        font-size: 20px;
        transition: 0.5s;
      }
    }
    & .show {
      // width: 63px;
      min-height: 58px;
      transition: 1s;
      opacity: 1;
      text-align: center;
      & .backgroundButton {
        width: 80px;
        height: 42px;
        border-radius: 100px;
        // background-color: #19222e;
        overflow: hidden;
        padding: 5px 5px;
        & .sun {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #fff;
          transform: translateY(0px);
          transition: 0.5s;
        }
        & .sunActive {
          transform: translateY(-40px);
          transition: 0.5s;
        }
        & .moon {
          width: 35px;
          height: 35px;
          border-radius: 50%;
          background-color: #000;
          transform: translateY(-40px);
          transition: 0.5s;
        }
        & .moonActive {
          transform: translateY(0px);
          transition: 0.5s;
        }
      }
    }
  }
}
.myImg {
  height: 100vh;
  padding-top: 106px;
  // position: fixed;
  width: 100%;
  z-index: -10;
  // margin-bottom: 100vh;
  // margin-bottom: 100px;
  & .mainImg {
    background: url(./IMG/IMG_4783.jpg) center center / cover;
    border-radius: 100px 0px 0px 100px;
    overflow: hidden;
  }
  & .info {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(130px);
    // z-index: 2;
    @media (max-width: 1024px) {
      transform: translateY(-50%) translateX(100px);
    }
    @media (max-width: 768px) {
      width: 400px;
    }
    @media (max-width: 520px) {
      width: 200px;
      transform: translateY(-50%) translateX(50px);
    }
    // background-color: #000000;
    & .btn {
      padding: 15px 20px;
      border-radius: 100px;
      // background-color: #19222e;
      // color: #fff;
      position: absolute;
      z-index: 10;
    }
  }
}
.skills {
  width: 100%;
  // height: 100vh;
  border-radius: 100px;
  // padding-top: 100vh;
  // margin-top: 50px;

  & .skillsInside {
    width: 80%;
    background-color: #19222e;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    transition: 0.5s;
    // height: 100vh;
    @media (max-width: 1024px) {
      padding: 20px 0px;
    }
  }
  & .skillsDarkInside {
    background-color: #fff;
    transition: 0.5s;
  }
  & .skillsActive {
    width: 100%;
    transition: 0.5s;
  }
  & .skillSection {
    width: 1280px;
    // height: 100%;
    & .skillDetail {
      //   line-height:300px
      width: 200px;
      height: 200px;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      // height: 100%;
      & .textEffectDark {
        text-shadow: 0 0 2px rgb(214, 212, 212), 0 0 5px rgb(214, 212, 212),
          0 0 7px rgb(214, 212, 212), 0 0 20px #f6c327, 0 0 40px #f6c327,
          0 0 50px #f6c327, 0 0 5px #f6c327, 0 0 20px #f6c327;

        transition: 0.5s;
      }
      & .textEffect {
        // color: #fff;
        text-shadow: 0 0 2px rgb(214, 212, 212), 0 0 5px rgb(214, 212, 212),
          0 0 7px rgb(214, 212, 212), 0 0 20px #0ff, 0 0 4px #0ff, 0 0 5px #0ff,
          0 0 5px #0ff, 0 0 20px #0ff;
        transition: 0.5s;
      }
    }
  }
}

.encourage {
  width: 100%;
  height: 100vh;
  & .encourageInfo {
    width: 90%;
  }
}
.Here {
  //   width: 100%;
  // height: 100vh;
  border-radius: 100px 100px 0px 0px;
  overflow: hidden;
  //   background: url('./IMG/IMG_4783.jpg');
  & .HereIn {
    // height: 100vh;
    width: 80%;
    border-radius: 100px;
    overflow: hidden;
    transition: 0.5s;
    @media (max-width: 500px) {
      width: 90%;
    }
  }
  & .HereInActive {
    width: 100%;
    transition: 0.5s;
  }
  & .HereImgDiv {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    @media (max-width: 1023px) {
      top: 26%;
      // transform: translateY(0px);
    }
    @media (max-width: 500px) {
      top: 26%;
      // transform: translateY(0px);
    }

    & .HereImg {
      width: 550px;
      height: 430px;
      // transform: translateX(-20px);
      border-radius: 10px;
      transition: all 0.5s;
      transform: translateX(-40px);
      @media (max-width: 1440px) {
        transform: translateX(-20px);

        width: 380px;
        height: 350px;
      }
      @media (max-width: 500px) {
        transform: translateX(-10px);
        width: 300px;
        height: 280px;
      }
    }
    & .ImgOut {
      transform: translateX(140px);
      transition: all 0.5s;
      @media (max-width: 1440px) {
        transform: translateX(80px);
      }
      @media (max-width: 500px) {
        transform: translateX(40px);
      }
    }
  }

  & .leftCircle {
    // position: relative;

    background-color: #ffffff;
    width: 250px;
    height: 500px;
    border-radius: 500px 0px 0px 500px;
    // border: 10px solid #19222e;
    // box-shadow: #19222e 0 0 0 200px;
    @media (max-width: 1440px) {
      background-color: #ffffff;

      width: 200px;
      height: 400px;
      border-radius: 400px 0px 0px 400px;
    }
    @media (max-width: 500px) {
      background-color: #ffffff;

      width: 150px;
      height: 300px;
      border-radius: 300px 0px 0px 300px;
    }
  }
  & .leftCircleDark {
    background-color: #19222e;
    @media (max-width: 1440px) {
      background-color: #19222e;
    }
  }
  & .HereCover {
    width: 80%;
    // height: 100vh;
    border-radius: 100px 100px 0px 0px;
    overflow: hidden;
    transition: 0.5s;
    @media (max-width: 500px) {
      width: 90%;
    }
  }
  & .HereCoverActive {
    width: 100%;
    transition: 0.5s;
  }
  & .coverLeftCircle {
    background-color: transparent;
    // width: 500px;
    // height: 850px;
    width: 250px;
    height: 500px;
    border-radius: 500px 0px 0px 500px;
    box-shadow: -500px 0px 0 500px #19222e;
    @media (max-width: 1440px) {
      width: 200px;
      height: 400px;
      border-radius: 400px 0px 0px 400px;
      // border: 10px solid #19222e;
      box-shadow: -400px 0px 0 400px #19222e;
    }
    @media (max-width: 500px) {
      box-shadow: -400px 0px 0 400px #19222e;
      width: 150px;
      height: 300px;
      border-radius: 300px 0px 0px 300px;
    }
  }
  & .coverLeftCircleDark {
    box-shadow: -500px 0px 0 500px #fff;
    @media (max-width: 1440px) {
      width: 200px;
      height: 400px;
      border-radius: 400px 0px 0px 400px;
      // border: 10px solid #19222e;
      box-shadow: -400px 0px 0 400px #fff;
    }
    @media (max-width: 500px) {
      width: 150px;
      height: 300px;
      border-radius: 300px 0px 0px 300px;
      // border: 10px solid #19222e;
      box-shadow: -400px 0px 0 400px #fff;
    }
  }
  & .rightCircle {
    background-color: #ffffff;
    width: 250px;
    height: 500px;
    border-radius: 0px 500px 500px 0px;
    // outline: 10px solid #19222e;
    @media (max-width: 1440px) {
      background-color: #ffffff;
      width: 200px;
      height: 400px;
      border-radius: 0px 400px 400px 0px;
    }
    @media (max-width: 500px) {
      background-color: #ffffff;
      width: 150px;
      height: 300px;
      border-radius: 0px 300px 300px 0px;
    }
  }
  & .rightCircleDark {
    background-color: #19222e;
    @media (max-width: 1440px) {
      background-color: #19222e;
    }
  }
  & .coverRightCircle {
    background-color: transparent;
    width: 250px;
    height: 500px;
    border-radius: 0px 500px 500px 0px;
    // outline: 10px solid #19222e;
    @media (max-width: 1440px) {
      background-color: transparent;
      width: 200px;
      height: 400px;
      border-radius: 0px 400px 400px 0px;
    }
    @media (max-width: 500px) {
      background-color: transparent;
      width: 150px;
      height: 300px;
      border-radius: 0px 300px 300px 0px;
    }
  }
  & .hereText {
    width: 500px;
    // color: #ffffff;
    font-size: 20px;
    text-align: justify;
    text-justify: inter-ideograph;
    @media (max-width: 1024px) {
      // width: 400px;
      font-size: 16px;
    }
    @media (max-width: 600px) {
      width: 300px;
      font-size: 14px;
    }
  }
}
.vespa {
  width: 100%;
  // height: 100vh;
  // border-radius: 100px;
  overflow: hidden;
  background: url(./IMG/vespa_w_light.png);
  // background-color: #000;
  background-attachment: fixed;
  background-size: cover;
  @media (max-width: 1440px) {
    background: url(./IMG/vespa_m_light.png);
    background-attachment: fixed;
    background-size: contain;
  }
  @media (max-width: 1023px) {
    background: url(./IMG/vespa_1024_light.png) no-repeat;
    background-attachment: fixed;
    background-size: contain;
  }
  @media (max-width: 500px) {
    background: url(./IMG/vespa_1024_light.png) no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
  }
  & .vespaLeft {
    // background-color: #f0592b;
    height: 100%;
    & .vespaLeftCircle {
      // position: relative;

      background-color: transparent;
      width: 250px;
      height: 500px;
      border-radius: 500px 0px 0px 500px;
      // border: 10px solid #19222e;
      box-shadow: -500px 0px 0 500px #f0592b;
      @media (max-width: 1440px) {
        width: 200px;
        height: 400px;
        border-radius: 400px 0px 0px 400px;
        // border: 10px solid #19222e;
        box-shadow: -400px 0px 0 400px #f0592b;
      }
      @media (max-width: 500px) {
        width: 150px;
        height: 300px;
        border-radius: 300px 0px 0px 300px;
        box-shadow: -300px 0px 0 300px #f0592b;
      }
    }
    & .vespaRightCircle {
      background-color: transparent;
      width: 250px;
      height: 500px;
      border-radius: 0px 500px 500px 0px;
      box-shadow: 500px 0px 0px 500px #f0592b;
      @media (max-width: 1440px) {
        width: 200px;
        height: 400px;
        border-radius: 0px 400px 400px 0px;
        box-shadow: 400px 0px 0px 400px #f0592b;
      }
      @media (max-width: 500px) {
        width: 150px;
        height: 300px;
        border-radius: 0px 300px 300px 0px;
        box-shadow: 300px 0px 0px 300px #f0592b;
      }
      // outline: 10px solid #19222e;
    }
  }
  & .vespaRight {
    height: 100%;
    background-color: #f0592b;
    & .vespaText {
      width: 500px;
      color: #ffffff;
      font-size: 20px;
      text-align: justify;
      text-justify: inter-ideograph;
      @media (max-width: 500px) {
        width: 300px;
        font-size: 16px;
      }
    }
  }
}
.monterose {
  width: 100%;
  // height: 100vh;
  // border-radius: 100px;
  overflow: hidden;
  background: url(./IMG/monterose_w_light.png);
  background-attachment: fixed;
  background-size: cover;
  @media (max-width: 1440px) {
    background: url(./IMG/monterose_m_light.png);
    background-attachment: fixed;
    background-size: contain;
  }
  @media (max-width: 1023px) {
    background: url(./IMG/monterose_1024_light.png) no-repeat;
    background-attachment: fixed;
    background-size: contain;
  }
  @media (max-width: 500px) {
    background: url(./IMG/monterose_1024_light.png) no-repeat;
    background-attachment: fixed;
    background-size: contain;
    background-position: center center;
  }
  & .monteroseLeft {
    // background-color: #f0592b;
    height: 100%;
    & .monteroseLeftCircle {
      // position: relative;

      background-color: transparent;
      width: 250px;
      height: 500px;
      border-radius: 500px 0px 0px 500px;
      // border: 10px solid #19222e;
      box-shadow: -500px 0px 0 500px #1b6c51;
      @media (max-width: 1440px) {
        width: 200px;
        height: 400px;
        border-radius: 400px 0px 0px 400px;
        // border: 10px solid #19222e;
        box-shadow: -400px 0px 0 400px #1b6c51;
      }
      @media (max-width: 500px) {
        width: 150px;
        height: 300px;
        border-radius: 300px 0px 0px 300px;
        box-shadow: -300px 0px 0 300px #1b6c51;
      }
    }
    & .monteroseRightCircle {
      background-color: transparent;
      width: 250px;
      height: 500px;
      border-radius: 0px 500px 500px 0px;
      box-shadow: 500px 0px 0px 500px #1b6c51;
      @media (max-width: 1440px) {
        width: 200px;
        height: 400px;
        border-radius: 0px 400px 400px 0px;
        box-shadow: 400px 0px 0px 400px #1b6c51;
      }
      @media (max-width: 500px) {
        width: 150px;
        height: 300px;
        border-radius: 0px 300px 300px 0px;
        box-shadow: 300px 0px 0px 300px #1b6c51;
      }
      // outline: 10px solid #19222e;
    }
  }
  & .monteroseRight {
    height: 100%;
    background-color: #1b6c51;
    & .monteroseText {
      width: 500px;
      color: #ffffff;
      font-size: 20px;
      text-align: justify;
      text-justify: inter-ideograph;
      @media (max-width: 500px) {
        width: 300px;
        font-size: 16px;
      }
    }
  }
}
.myActivitySection {
  height: 100vh;
  //   background-color: #19222e;
  width: 100%;
  overflow: hidden;
  display: flex;
  // border-radius: 100px;
}
.activityBg {
  position: absolute;
  min-width: 100%;
  height: 100vh;
  top: 0;
  //   background-color: #f0592b;
  // z-index: 1;
  //   background-color: #19222e;
}
.activityBg2 {
  position: absolute;
  min-width: 100%;
  height: 100vh;
  top: 0;
  background-color: #19222e;
  // z-index: 2;
  transform: translateX(100vw);
  transition: 1s;

  //   background-color: #19222e;
}
.activityBg2Dark {
  position: absolute;
  min-width: 100%;
  height: 100vh;
  top: 0;
  background-color: #fff;
  // z-index: 2;
  transform: translateX(100vw);
  transition: 1s;
}
.activityBg2Active {
  transform: translateX(0vw);
  transition: 1s;
}
.MyActivity {
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  font-size: 150px;
  letter-spacing: 10px;
  font-weight: bold;
  transform: translateX(1500px);
  transition: all 2s;
  background-color: #19222e;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  @media (max-width: 1024px) {
    font-size: 100px;
  }
  @media (max-width: 768px) {
    font-size: 65px;
  }
  @media (max-width: 500px) {
    font-size: 30px;
  }
}
.MyActivityDark {
  width: 100%;
  height: 100vh;
  line-height: 100vh;
  font-size: 150px;
  letter-spacing: 10px;
  font-weight: bold;
  transform: translateX(1500px);
  transition: all 1s;
  background-color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  @media (max-width: 1024px) {
    font-size: 100px;
  }
  @media (max-width: 768px) {
    font-size: 65px;
  }
  @media (max-width: 500px) {
    font-size: 30px;
  }
}
.MyActivityActive {
  transform: translateX(0px);
  transition: all 1s;
}
.changeColor {
  background-color: #ffffff;

  transition: 1s;
}
.changeColorDark {
  background-color: #19222e;
  transition: 1s;
}
.activityCardSection {
  // background-color: #19222e;
  padding: 50px 0px;
  // max-width: 1280px;
  // border-radius: 100px 100px 0px 0px;

  & .activityCard {
    width: 310px;
    height: 395px;
    background-color: #ffffff;
    // padding: 30px 0px;
    // border-radius: 50px;
    transition: 0.5s;
    border: 1px solid #fff;
    box-shadow: 0px 0px 10px 5px#ccc;
    @media (max-width: 400px) {
      width: 250px;
      height: 330px;
    }
    & .cardImg1 {
      width: 100%;
      height: 100%;
      background-color: #19222e;
      transition: 0.5s;
      background: url(./IMG/activityCard/IMG_2853.jpeg) center center / cover;
    }
    & .cardImg2 {
      width: 100%;
      height: 100%;
      background-color: #19222e;
      transition: 0.5s;
      background: url(./IMG/activityCard/IMG_2758.jpeg) center center / cover;
    }
    & .cardImg3 {
      width: 100%;
      height: 100%;
      background-color: #19222e;
      transition: 0.5s;
      background: url(./IMG/activityCard/IMG_8328.jpeg) center center / cover;
    }
    & .cardImg4 {
      width: 100%;
      height: 100%;
      background-color: #19222e;
      transition: 0.5s;
      background: url(./IMG/activityCard/IMG_9617.jpeg) center center / cover;
    }
    & .cardImg5 {
      width: 100%;
      height: 100%;
      background-color: #19222e;
      transition: 0.5s;
      background: url(./IMG/activityCard/萬芳海報.png) center center / cover;
    }
    & .cardImg6 {
      width: 100%;
      height: 100%;
      background-color: #19222e;
      transition: 0.5s;
      background: url(./IMG/activityCard/shopee.png) center center / contain;
    }
  }

  & .activityCard:hover .cardImg1 {
    width: 100%;
    height: 200px;
    transition: 0.5s;
    background-position: top center;
    background-size: cover;
  }
  & .activityCard:hover .cardImg2 {
    width: 100%;
    height: 200px;
    transition: 0.5s;
    background: url(./IMG/activityCard/736E680C-08BD-43B9-AEFE-A338E448461F_1_105_c.jpeg)
      center center / cover;
  }
  & .activityCard:hover .cardImg3 {
    width: 100%;
    height: 200px;
    transition: 0.5s;
    background: url(./IMG/activityCard/54B62546-0D2F-459D-9651-1763DB9E78BD_1_105_c.jpeg)
      center center / cover;
  }
  & .activityCard:hover .cardImg4 {
    width: 100%;
    height: 200px;
    transition: 0.5s;
    background: url(./IMG/activityCard/IMG_7296.jpeg) center center / cover;
  }
  & .activityCard:hover .cardImg5 {
    width: 100%;
    height: 200px;
    transition: 0.5s;
    background: url(./IMG/activityCard/F72BC0AA-E106-4122-B9E9-568D9366C905_1_105_c.jpeg)
      center center / cover;
  }
  & .activityCard:hover .cardImg6 {
    width: 100%;
    height: 200px;
    transition: 0.5s;
    background: url(./IMG/activityCard/IMG_7525.JPG) center center / cover;
  }
  & .activityCard p {
    transition: 0.5s;
    display: none;
  }
  & .activityCard:hover p {
    transition: 0.5s;
    display: block;
  }
}
.contactSection {
  // background-color: #19222e;
  color: #ffffff;
  & .partersItems {
    width: 70%;
    max-width: 1280px;
    @media (max-width: 1280px) {
      width: 85%;
    }
    @media (max-width: 1024px) {
      width: 70%;
    }

    @media (max-width: 768px) {
      width: 80%;
    }
    @media (max-width: 500px) {
      width: 90%;
    }
    // font-size: 40px;
    & .partersBorder {
      border-top: 1px solid #fff;
      border-bottom: 1px solid #fff;
      height: 110px;
      @media (max-width: 600px) {
        height: 150px;
      }

      & .partersDetail {
        opacity: 0;
        transition: 0.5s;
        transform: translateX(5px);
        @media (max-width: 1024px) {
          transform: translateY(-20px);
        }
      }
      & .partersDetail:hover {
        opacity: 1;
        transition: 0.5s;
        transform: translateX(0px);
        // animation-delay: 2s;
        @media (max-width: 1024px) {
          transform: translateY(0px);
        }
      }

      & .partersInfo {
        font-size: 20px;
        height: 110px;
        line-height: 110px;
        @media (max-width: 1024px) {
          font-size: 16px;
        }

        @media (max-width: 800px) {
          font-size: 14px;
          // height: 330px;
        }
        @media (max-width: 600px) {
          height: 150px;
          font-size: 12px;
          height: 40px;
          line-height: 40px;
        }
      }
      & .schoolIcon {
        width: 50px;
        height: 50px;
        border-radius: 50px;
        overflow: hidden;
        margin-right: 10px;
        @media (max-width: 1024px) {
          width: 35px;
          height: 35px;
        }
        @media (max-width: 600px) {
          margin-right: 0px;
        }
      }

      // 懸念  一個一個跳出來
    }

    & .partersBorder2 {
      height: 110px;
      @media (max-width: 600px) {
        height: 150px;
      }
      & .partersDetail {
        opacity: 0;
        transition: 0.5s;
        @media (max-width: 1024px) {
          transform: translateY(-20px);
        }
      }
      & .partersDetail:hover {
        opacity: 1;
        transition: 0.5s;
        transform: translateX(-5px);
        @media (max-width: 1024px) {
          transform: translateY(0px);
        }
      }
    }
    & .partersInfo {
      font-size: 20px;
      height: 110px;
      line-height: 110px;
      @media (max-width: 1024px) {
        font-size: 16px;
      }
      @media (max-width: 600px) {
        font-size: 12px;
        height: 40px;
        line-height: 40px;
      }
      //   transform: translateX(-200px);
    }
    & .partersInfo2 {
      font-size: 20px;
      height: 110px;
      line-height: 110px;
      @media (max-width: 1024px) {
        font-size: 16px;
      }
      @media (max-width: 600px) {
        font-size: 12px;
        height: 40px;
        line-height: 40px;
      }
      // transform: translateX(-20px);
    }
    & .schoolIcon {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      overflow: hidden;
      margin-right: 10px;
      @media (max-width: 1024px) {
        width: 35px;
        height: 35px;
      }
      @media (max-width: 600px) {
        margin-right: 0px;
      }
    }
  }
  & .contactSeciton {
    width: 70%;
    max-width: 1280px;
    margin-top: 50px;
    height: 500px;
    @media (max-width: 1280px) {
      width: 85%;
    }
    @media (max-width: 1024px) {
      width: 70%;
    }
    @media (max-width: 770px) {
      width: 80%;
    }

    & .contactMe {
      font-size: 40px;
      height: 150px;
      line-height: 150px;
      margin-top: 20px;
      text-align: center;
      @media (max-width: 600px) {
        font-size: 30px;
        height: 100px;
        line-height: 100px;
        margin-top: 20px;
      }
    }
    & .icon {
      margin-right: 25px;
    }
    & .facebook,
    .instagram,
    .github,
    .linkedin {
      margin-right: 25px;

      font-size: 3rem;
      // background-color: #18191f;
      color: #fff;
      // box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
      //   2px 2px 10px #00000080, 2px 2px 3px #00000080,
      //   inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
      //   inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080;
      // border-radius: 50%;
      // padding: 19px 19px;
      // margin: 0 40px;
      animation: animate 3s linear infinite;
      text-shadow: 0 0 5px #0072ff, 0 0 10px #0072ff, 0 0 15px #0072ff,
        0 0 20px #0072ff;
      @media (max-width: 600px) {
        font-size: 2rem;
      }
    }
    & .instagram {
      animation-delay: 0.3s;
    }
    & .facebook {
      animation-delay: 0.7s;
    }
    & .github {
      animation-delay: 0.1s;
    }
    & .linkedin {
      animation-delay: 0.9s;
    }
    @keyframes animate {
      from {
        filter: hue-rotate(0deg);
      }
      to {
        filter: hue-rotate(360deg);
      }
    }
  }
}
.fixedEffect {
  padding-top: 100vh;
}
